.logo {
  
  font-family: $secondary-font, sans-serif;
  @include font($fs: 24px, $lh: 1.17, $fw: 700);
  letter-spacing: 0.03em;

  color: $title-text-color;

  @media (max-width: 1199px){
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include for-size(tablet) {
    /* margin-right: 75px; */
  }

  @include for-size(desktop) {
    @include font($fs: 26px, $lh: 1.2, $fw: 700);
    margin-right: 93px;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--blue {
  color: $accent-color;
}

.logo--black {
  color: $title-text-color;
}
.logo--white {
  color: $primary-white-color;
}

