

/* 
.address-link::before {
  display: inline-block;
  content: "";

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  margin-right: 10px;
} */

/* .icon-email::before {
  background-image: url(../images/email.svg);
  width: 16px;
  height: 12px;
  background-size: 16px 12px;
}

.icon-phone::before {
  background-image: url(../images/phone.svg);
  width: 10px;
  height: 16px;
  background-size: 10px 16px;
} */

/* .advantages-list .item::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  background-color: $team-background-color);
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 70px 70px;
}

.advantages-list .icon-warning::before {
  background-image: url(../images/1.svg);
}

.advantages-list .icon-punctuality::before {
  background-image: url(../images/2.svg);
}

.advantages-list .icon-planning::before {
  background-image: url(../images/3.svg);
}

.advantages-list .icon-moderntechnology::before {
  background-image: url(../images/4.svg);
} */
