  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $footer-background-color: #2f303a;
  $team-background-color: #f5f4fa;
  $portfolio-border-color: #eeeeee;
  $header-border-color: #ececec;
  $background-hero-color: #c4c4c4;
  $gradient-hero-color: rgba(47, 48, 58, 0.4);
  $icon-main-fell: #afb1b8;
  $icon-background-color: rgba(255, 255, 255, 0.1);
  $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  $main-font: Roboto;
  $secondary-font: Raleway;