.customers__list {
  padding: 0;
}

.customers__item:nth-child(6n) {
  margin-right: 0;
}

.customers__link {
  fill: $icon-main-fell;
  width: 170px;
  height: 90px;
  border: 1px solid $icon-main-fell;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  transition: fill 250ms $cubic-bezier, border-color 250ms $cubic-bezier;
  &:hover, &:focus {
    fill: $accent-color;
  border-color: $accent-color;
  }
}
