.customers__list {
  @include flexbox($ai: center, );
  padding: 0;
  flex-wrap: wrap;

  
}

.customers__item {
  margin-right: 30px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width:480px) and (max-width: 767px) {
    margin-bottom: 30px;
    &:nth-child(2n) {
    margin-right: 0;
  }
    &:nth-child(n + 5) {
    margin-bottom: 0;
  }
  }
  @include for-size(tablet) {
        
    &:nth-child(n + 4) {
    margin-bottom: 0;
  }
  }
  @media (min-width:768px) and (max-width: 1199px) {
    &:nth-child(3n) {
    margin-right: 0;
  }
  }
  
  
  @include for-size(desktop) {
    margin-bottom: 0;
    
    &:nth-child(6n) {
    margin-right: 0;
  }
  }
}

.customers__item:nth-child(6n) {
  margin-right: 0;
}

.customers__link {
  @include flexbox($ai: center, $jc: center);
  fill: $icon-main-fell;
  width: 210px;
  height: 90px;
  border: 1px solid $icon-main-fell;
  border-radius: 4px;

  transition: fill 250ms $cubic-bezier, border-color 250ms $cubic-bezier;
  &:hover, &:focus {
    fill: $accent-color;
  border-color: $accent-color;
  }

  @include for-size(tablet) {
    width: 226px;
  }

  @include for-size(desktop) {
    width: 170px;
  }
}
