.footer__container {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: nowrap;
  justify-content: space-between;
  }
}

.footer__address {
  @include flexbox ($ai: center, $jc: center);
  flex-direction: column;


  @media (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @include for-size(desktop) {
    align-items: baseline;
  }
}