.footer__container {
  

  @include for-size(desktop) {
    display: flex;
  justify-content: space-between;
  }
}

.footer__address {
  @include flexbox ($ai: center, $jc: center);
  flex-direction: column;
}