.mailing {
  @media (max-width: 1199px) {
        display: flex;
    align-items: center;
    flex-direction: column;
    }
    
}

.mailing__form {
  @media (max-width: 1199px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }
}

.mailing__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: 12px;
}

.mailing__icon {
  margin-left: 10px;
  fill: $primary-white-color;
}

.mailing__input {
  background-color: $footer-background-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  
  padding-left: 16px;
  color: $primary-white-color;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }



  @media (max-width: 1199px) {
    margin-bottom: 20px;
    width: 100%;
  }

  @include for-size(tablet) {
    width: 450px;
  } 

  @include for-size(desktop) {
    width: 358px;
  }
}

.mailing__form {
  margin-top: 20px;
}