.work__item {
  width: calc((100% - 30px * 2) / 3);
  flex-wrap: wrap;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.work__container {
  position: relative;
}

.secondary__title--color {
  color: $primary-white-color;
}

.work__position-title {
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}